<div class="container py-5">
    <div class="row">
        <div class="col-10 mx-auto">
            <h1>File Upload Status</h1>
            <!--display error if any-->
            <div class="alert alert-danger" role="alert" th:if="${!status}">
                <strong>Error:</strong>
                <span th:text="${message}"></span>
            </div>

            <!--display users list-->
            <table class="table table-striped" th:if="${status}">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">EmployeeId</th>
                    <th scope="col">ProjId</th>
                    <th scope="col">dateFrom</th>
                    <th scope="col">dateTo</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employeesPair, i : ${empsPairs}">
                    <th scope="row" th:text="${i.index + 1}"></th>
                    <td th:text="${employeesPair.getFirstEmployee.getEmployeeId()}"></td>
                    <td th:text="${employeesPair.getSecondEmployee.getEmployeeId}"></td>
                    <td th:text="${employeesPair.getProjectId}"></td>
                    <td th:text="${employeesPair.getDaysWorkedTogether}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>